body {
    background: #20262E;
    padding: 20px;
    font-family: Helvetica;
  }
  
  #banner-message {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 25px;
    text-align: center;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
  }
  
  #breed_data {
    background: #fff;
    border-radius: 4px;
    padding: 20px;
    font-size: 12px;
    text-align: left;
    transition: all 0.2s;
    margin: 0 auto;
    width: 500px;
  }
  
  #breed_image {
    background: #fff;
    margin: 0 auto;
    width: 460px;
  }
  